<nav class="navbar sticky-top bg-body-tertiary">
  <div class="container-fluid">
    <ul>
      <li>
        <a class="navbar-brand" href="#">Wikinimous</a>
      </li>

      <li>
        <%= link_to "New Article", new_article_path %>
      </li>
    </ul>
  </div>
</nav>
