<div class="container">
  <h1><%= @article.title %></h1>

  <p><%= @article.content %></p>


  <%= link_to "Delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <%# <i class="fa-regular fa-trash-can"></i>
  <% end %>
</div>
